@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --very-light-blue:rgba(247, 248, 252, 1);
  --light-text:rgba(159, 162, 180, 1);
  --dark-text:rgba(37, 39, 51, 1);
  --purple-blue:rgba(55, 81, 255, 1);
  --blue:rgba(33, 72, 192, 1);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: var(--very-light-blue);
}


.stats-card{
  border: 1px solid #DFE0EB;
  transition: all 0.3s ease-in-out;
}
.stats-title{
  color: var(--light-text);
  transition: all 0.3s ease-in-out;

}
.stats-number{
  color: var(--dark-text);
  transition: all 0.3s ease-in-out;

}

.stats-card:hover{
  border-color: var(--purple-blue);
  cursor: pointer;
}
.stats-card:hover .stats-title{
  color: var(--blue);
}
.stats-card:hover .stats-number{
  color: var(--purple-blue);
}


.echarts-for-react{
  height: 100% !important;
  padding: 24px !important;
} 

.all-link{
  color: var(--purple-blue)
}